@model double

<h1>Your number is @Model</h1>
@if (@Model% 1==0)
{
    <h1>The number is Integer</h1>
}
else
{
    <h1>The number is not Integer</h1>
}

@if (@Model % 2 == 0)
{
    <h1>The number is even</h1>
}
else
{
    <h1>The number is odd</h1>
}



